<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oy.activity">
    <!--访问网络权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--屏幕适配-->
    <supports-screens android:anyDensity="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <!--欢迎页面-->
        <activity android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity android:name=".MainActivity" android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <!--个人中心页面-->
        <activity android:name=".IndividualActivity"/>
        <!--登录方式页面-->
        <activity android:name=".loginWayActivity"/>
        <!--个人邮箱登录-->
        <activity android:name=".MailLoginActivity"/>
        <!--邮箱注册页面-->
        <activity android:name=".RegisterActivity"/>
        <!--阅读头部详情页面-->
        <activity android:name=".ReadHActivity"/>
        <!--电影详情页面-->
        <activity android:name=".MovieActivity"/>
        <!--视频播放页面-->
        <activity android:name=".VideoActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|screenSize|orientation"></activity>
        <!--天气预报 城市选择页面-->
        <activity android:name=".CityChooseActivity"/>
        <!--一周天气列表-->
        <activity android:name=".WeatherActivity"/>
        <!--其他设置页面-->
        <activity android:name=".SettingActivity"/>
        <!--qq登录验证-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1104732758" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>